<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>adicionar_funcionario</title>

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
          rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

    <link href="css/main.css" rel="stylesheet" />
    <link href="css/cadastrar.css" rel="stylesheet" />

</head>
<body>
    <div class="container head">
        <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4">
            <a href="/paginaSegura" class="d-flex align-items-center col-md-3 mb-2 mb-md-0 text-dark text-decoration-none">
                <img id="logo" width="60px" src="icons/caritasmz.png"/>
                <h2 class="logo"></h2>
            </a>

            <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
                <li><a href="/paginaSegura" class="nav-link px-2 link-dark">home</a></li>
                <li><a href="/listaFuncionario" class="nav-link px-2 link-dark">Lista de Funcionarios</a></li>
            </ul>

        </header>
    </div>

    <div class="container main-cadastro">
       <center> <h1>Cadastro de Funcionario</h1></center>

        <form th:action="@{/salvarFuncionario}" method="post" class="needs-validation" novalidate>
            <div class="form-row">

                <div th:text="${erro}"></div>

                <h3>Dados de Utilizador:</h3>

                <div class="col-md-4 mb-3">
                    <label for="validationCustom01">Username</label>
                    <input type="e-mail" name="username" class="form-control" id="validationCustom010" placeholder="user@domain" value="" required>
                    <div class="valid-feedback">
                        Tudo certo!
                    </div>
                </div>

                <div class="col-md-4 mb-3">
                    <label for="validationCustom03">Password</label>
                    <input type="password" name="password" class="form-control" id="validationCustom11" placeholder="***********" value="" required>
                    <div class="valid-feedback">
                        Tudo certo!
                    </div>
                </div>

                <h3>Dados Pessoais:</h3>
                <div class="col-md-4 mb-3">
                    <label for="validationCustom01">Primeiro nome</label>
                    <input type="text" class="form-control" name="primeiroNome" id="validationCustom01" placeholder="Nome" value="" required>
                    <div class="valid-feedback">
                        Tudo certo!
                    </div>
                </div>
                <div class="col-md-4 mb-3">
                    <label for="validationCustom02">Sobrenome</label>
                    <input type="text" name="sobrenome" class="form-control" id="validationCustom02" placeholder="Sobrenome" value="" required>
                    <div class="valid-feedback">
                        Tudo certo!
                    </div>
                </div>

                <div class="col-md-4 mb-3">
                    <label for="validationCustom01">Data Nascimento</label>
                    <input type="date" name="dataNascimento" class="form-control" id="validationCustom03" placeholder="Data de Nascimento"  required>
                    <div class="valid-feedback">
                        Tudo certo!
                    </div>
                </div>

                <div class="col-md-4 mb-3">
                    <label for="validationCustom01">Numero de telefone</label>
                    <input type="text" name="celular" class="form-control" id="validationCustom04" placeholder="+258846153415" required>
                    <div class="valid-feedback">
                        Tudo certo!
                    </div>
                </div>
            </div>

            <div  class="mb-3 col-md-4" style="border: 1px solid lightgray; border-radius: 3px; padding: 5px; max-width: 348px;">
                <label style="border-bottom: 1px solid lightgray; width: 100%;">Estado Civil</label><br/>
                <div class="form-check form-check-inline">
                    <label class="form-check-label" for="inlineRadio15">Solteiro/a</label>
                    <input class="form-check-input" type="radio" value="Solteiro" name="estadoCivil" id="inlineRadio15" required>
                </div>
                <div class="form-check form-check-inline">
                    <label class="form-check-label" for="inlineRadio16">Casado/a</label>
                    <input class="form-check-input" type="radio" value="Casado/a" name="estadoCivil" id="inlineRadio16" required>
                </div>
                <div class="form-check form-check-inline">
                    <label class="form-check-label" for="inlineRadio17">Viuvo/a</label>
                    <input class="form-check-input" type="radio" value="Viuvo/a" name="estadoCivil" id="inlineRadio17" required>
                </div>
                <div class="form-check form-check-inline">
                    <label class="form-check-label" for="inlineRadio18">Divorciado/a</label>
                    <input class="form-check-input" type="radio" value="Divorciado/a" name="estadoCivil" id="inlineRadio18" required>
                </div>
            </div>

                <div  class="mb-3 col-md-4" style="border: 1px solid lightgray; border-radius: 3px; padding: 5px; max-width: 348px;">
                    <label style="border-bottom: 1px solid lightgray; width: 100%;">Genero</label><br/>
                    <div class="form-check form-check-inline">
                        <label class="form-check-label" for="inlineRadio1">Masculino</label>
                        <input class="form-check-input" type="radio" value="Masculino" name="genero" id="inlineRadio1" required>
                    </div>
                    <div class="form-check form-check-inline">
                        <label class="form-check-label" for="inlineRadio2">Feminino</label>
                        <input class="form-check-input" type="radio" value="Feminino" name="genero" id="inlineRadio2" required>
                    </div>
                </div>

                <h3>Dados Geograficos: </h3>

                <div class="col-md-4 mb-3">
                    <label for="validationCustom01">Endereco</label>
                    <input type="text" name="endereco" class="form-control" id="validationCustom06" placeholder="Bairro Eduardo Mondlane, AV. 25 Setembro" value="" required>
                    <div class="valid-feedback">
                        Tudo certo!
                    </div>
                </div>

                <div class="col-md-4 mb-3">
                    <label for="validationCustom01">Proveniencia</label>
                    <input type="text" name="distrito" class="form-control" id="validationCustom07" placeholder="Nome" value="" required>
                    <div class="valid-feedback">
                        Tudo certo!
                    </div>
                </div>

                <h3>Dados do Projecto: </h3>

<!--            <div class="form-group mb-3 col-md-4">-->
<!--                <label>Projecto que Pertence</label>-->
<!--                <select name="projecto" class="custom-select form-control" style="max-width: 348px;" required>-->
<!--                    <option value="">Selecione o projecto que o Funcionario pertence...</option>-->
<!--                    <option th:each="proj : ${projecto}" th:value="${proj.idProjecto}"-->
<!--                    th:text="${proj.nomeProjecto}"></option>-->
<!--                </select>-->
<!--                <div class="invalid-feedback">Exemplo de feedback invalido para o select</div>-->
<!--            </div>-->
            <div class="form-group mb-3 col-md-4">
                <label class="col-sd-4">Projecto que Pertence</label><br>
                <div class="col-sm-8 text-left">
                    <th:block th:each="proj : ${projecto}">
                        <input type="checkbox"  name="pro" id="pro"
                               th:text="${proj.nomeProjecto}"
                               th:value="${proj.idProjecto}" />
                        <br>
                    </th:block>
                </div>
                <div class="valid-feedback"> Tudo certo! </div>
            </div>


            <div class="form-group mb-3 col-md-4">
                    <label>Categoria do Funcionario </label>
                    <select name="categoria" id="categoria" class="custom-select form-control" style="max-width: 348px;" required>
                        <option value="">Selecione a Categoria do Funcionario...</option>
                        <option th:each="c : ${categoria}"
                            th:value="${c.idCategoria}"
                            th:text="${c.descricao}"></option>
                    </select>
                <div class="invalid-feedback">Exemplo de feedback invalido para o select</div>
            </div>
            <div class="col-md-4 mb-3">
                    <label for="validationCustom01">Inicio do Contrato</label>
                    <input type="date" name="dataInicio" class="form-control" id="validationCustom08" placeholder="02/08/2020" value="" required>
                    <div class="valid-feedback">
                        Tudo certo!
                    </div>
                </div>

                <div class="col-md-4 mb-3">
                    <label for="validationCustom01">Fim do Contrato</label>
                    <input type="date" name="dataFim" class="form-control" id="validationCustom09" placeholder="02/08/2023" value="" required>
                    <div class="valid-feedback">
                        Tudo certo!
                    </div>
                </div>

            <div class="form-group mb-3 col-md-4">
                <label class="col-sd-4">Atribuir Privilegio</label><br>
                <div class="col-sm-8 text-left">
                    <th:block th:each="priv : ${permissao}">
                        <input type="checkbox"  name="permi" id ="permi"
                               th:text="${priv.getDescricao()}" th:value="${priv.idPermissao}"
                               />
                        <br>
                    </th:block>
                </div>
                <div class="valid-feedback"> Tudo certo! </div>
            </div>

            <button class="btn btn-primary btn-cadastrar" type="submit">Cadastrar</button>
        </form>

    </div>

    <div class="container footer">
        <footer class="py-5">
            <div class="row">
                <div class="col-7">
                    <h5>Section</h5>
                    <ul class="nav">
                        <li class="nav-item mb-2"><a href="/paginaSegura" class="nav-link p-0 text-muted">Home</a></li>
                        <li class="nav-item mb-2"><a href="/listaProjecto" class="nav-link p-0 text-muted">Projectos</a></li>
                        <li class="nav-item mb-2"><a href="/listaParceiro" class="nav-link p-0 text-muted">Parceiros</a></li>
                        <li class="nav-item mb-2"><a href="/apoiadores" class="nav-link p-0 text-muted">Apoiadores</a></li>
                        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Sobre</a></li>
                    </ul>
                </div>

                <div class="col-4 offset-1">
                    <form>
                        <h5>Subscreva a nossa newslatter</h5>
                        <p>Mensalmente receba noticias e actualizacoes dos nosso projectos</p>
                        <div class="d-flex w-100 gap-2">
                            <label for="newsletter1" class="visually-hidden">Email address</label>
                            <input id="newsletter1" type="text" class="form-control" placeholder="Email address">
                            <button class="subscrever btn btn-primary" type="button">Subscrever</button>
                        </div>
                    </form>
                </div>
            </div>

            <div class="d-flex justify-content-between py-4 my-4 border-top">
                <p>&copy; 2021 Caritas, Inc. All rights reserved.</p>
                <ul class="list-unstyled d-flex">
                    <li class="ms-3"><a class="link-dark" href="#"><svg class="bi" width="24" height="24"><use xlink:href="#twitter"/></svg>T</a></li>
                    <li class="ms-3"><a class="link-dark" href="#"><svg class="bi" width="24" height="24"><use xlink:href="#instagram"/></svg>I</a></li>
                    <li class="ms-3"><a class="link-dark" href="#"><svg class="bi" width="24" height="24"><use xlink:href="#facebook"/></svg>F</a></li>
                </ul>
            </div>
        </footer>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>

    <script>
        // Exemplo de JavaScript inicial para desativar envios de formulÃƒÂ¡rio, se houver campos invÃƒÂ¡lidos.
        (function() {
            'use strict';
            window.addEventListener('load', function() {
                // Pega todos os formulÃƒÂ¡rios que nÃƒÂ³s queremos aplicar estilos de validaÃƒÂ§ÃƒÂ£o Bootstrap personalizados.
                var forms = document.getElementsByClassName('needs-validation');
                // Faz um loop neles e evita o envio
                var validation = Array.prototype.filter.call(forms, function(form) {
                    form.addEventListener('submit', function(event) {
                        if (form.checkValidity() === false) {
                            event.preventDefault();
                            event.stopPropagation();
                        }
                        form.classList.add('was-validated');
                    }, false);
                });
            }, false);
        })();
    </script>

</body>
</html>