<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>termo_de_referencia</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link href="css/main.css" rel="stylesheet" />

</head>
<body>
    <div class="container head">
        <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4">
            <a href="/paginaSegura" class="d-flex align-items-center col-md-3 mb-2 mb-md-0 text-dark text-decoration-none">
                <img id="logo" width="60px" src="icons/caritasmz.png"/>
                <h2 class="logo"></h2>
            </a>

            <div class="col-md-3 text-end">
                <a href="/paginaSegura"><button type="button" class="btn btn-outline-primary me-2">Voltar</button></a>
                <!--<button type="button" class="btn btn-primary">Sign-up</button>-->
            </div>
        </header>
    </div>

    <div class="container main-cadastro">

        <form class="row gy-2 gx-3 align-items-center">
            <div class="col-auto">
                <label class="visually-hidden" for="autoSizingSelect">Solicitacao de Tranporte</label>
                <select class="form-select" id="autoSizingSelectn">
                    <!--                <option selected>Escolha o Solicitacao...</option>-->
                    <!--                <option th:each="p : ${projecto}"-->
                    <!--                        th:value="${p.idProjecto}"-->
                    <!--                        th:text="${p.nomeProjecto}"-->
                    <!--                        th:field="*{projecto}"></option>-->
                </select>
                <div class="invalid-feedback">Exemplo de feedback invalido para o select</div>
            </div>

            <div class="col-auto">
                <label class="visually-hidden" for="autoSizingSelect">Projecto</label>
                <select class="form-select" id="autoSizingSelect">
    <!--                <option selected>Escolha o projecto...</option>-->
    <!--                <option th:each="p : ${projecto}"-->
    <!--                        th:value="${p.idProjecto}"-->
    <!--                        th:text="${p.nomeProjecto}"-->
    <!--                        th:field="*{projecto}"></option>-->
                </select>
                <div class="invalid-feedback">Exemplo de feedback invalido para o select</div>
            </div>

        <div class="col-md-4 mb-3">
            <label for="validationCustom10">Local  e Data da Actividade</label>
            <input type="text" name="localEDataDaActividade" class="form-control" id="validationCustom10" placeholder="Almeida Garido" value="" required>
            <div class="valid-feedback">
                Tudo certo!
            </div>
        </div>

        <div class="col-md-4 mb-3">
            <label for="validationCustom11">Participantes</label>
            <input type="text" name="participantes" class="form-control" id="validationCustom11" placeholder="Almeida Garido e Afonso Mel" value="" required>
            <div class="valid-feedback">
                Tudo certo!
            </div>
        </div>

        <div class="col-md-4 mb-3">
            <label for="validationCustom12">Beneficiario</label>
            <input type="text" name="beneficiario" class="form-control" id="validationCustom12" placeholder="Almeida Garido" value="" required>
            <div class="valid-feedback">
                Tudo certo!
            </div>
        </div>

        <div class="col-md-4 mb-3">
            <label for="validationCustom13">Descricao da Actividade</label>
            <textarea name="descricaoActividade" class="form-control" id="validationCustom13" rows="3" placeholder="No ambito do projecto x..." value="" required></textarea>
            <div class="valid-feedback">
                Tudo certo!
            </div>
        </div>

        <div class="col-md-4 mb-3">
            <label for="validationCustom14">Objectivo da Actividade</label>
            <input type="text" name="objectivoActividade" class="form-control" id="validationCustom14" placeholder="Adquirir viatura..." value="" required>
            <div class="valid-feedback">
                Tudo certo!
            </div>
        </div>
        <button class="btn btn-primary btn-cadastrar" type="submit">Criar TdR</button>
    </form>
    </div>

</body>
</html>