<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>logistico</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link href="css/main.css" rel="stylesheet" />

</head>
<body>

    <div class="container head">
        <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4">
            <a href="/paginaSegura" class="d-flex align-items-center col-md-3 mb-2 mb-md-0 text-dark text-decoration-none">
                <img id="logo" width="60px" src="icons/caritasmz.png"/>
                <h2 class="logo"></h2>
            </a>

            <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
                <li><a href="/listaSTransporte" class="nav-link px-2 link-dark">Lista de Solicitacao de Transporte</a></li>
    <!--            <li><a href="/listaTdR" class="nav-link px-2 link-dark">Lista de TdRs</a></li>-->
    <!--            <li><a href="/salvarTdR" class="nav-link px-2 link-dark">Criar TdR</a></li>-->
    <!--            <li><a href="/salvarST" class="nav-link px-2 link-dark">Criar Solicitacao de Transporte</a></li>-->
            </ul>
        </header>
    </div>

    <div class="container>">
        <center> <h1>Lista de solicitacao de Transporte por Aprovar</h1></center>
    </div>

    <table class="table table-bordered">
        <thead class="thread thread-dark">
        <tr>
            <!--                <th scope="col">tipo De Viatura</th>-->
            <!--                <th scope="col">quantidade de Viaturas</th>-->
            <th scope="col">solitante Responsavel</th>
            <th scope="col">Origem</th>
            <th scope="col">Destino</th>
            <th scope="col">Data Inicio</th>
            <th scope="col">Data Fim</th>
            <!--                <th scope="col">Necessidade de Alojamento</th>-->
            <!--                <th scope="col">dias de alojamento</th>-->
            <th scope="col">motivos da solicitacao
            <th scope="col">Projecto</th>
            <th scope="col">Coordenador</th>
            <th scope="col">Data Aprovacao</th>
        </tr>
        </thead>
        <tbody>
        <th:block th:each="st : ${transporteList}">
            <tr>
                <!--                    <td> [[${st.tipoDeViatura}]]</td>-->
                <!--                    <td> [[${st.qtdViaturas}]]</td>-->
                <td> <a th:href="@{'/detalheST/' + ${st.idSolicitacaoTransporte}}"> [[${st.solicitanteResponsavel}]]</a></td>
                <td> [[${st.origem}]]</td>
                <td> [[${st.destino}]]</td>
                <td> [[${st.dataInicio}]]</td>
                <td> [[${st.dataFim}]]</td>
                <!--                    <td> [[${st.qtdDias}]]</td>-->
                <!--                    <td> [[${st.qtdPessoas}]]</td>-->
                <td> [[${st.motivoDaSolicitacao}]]</td>
                <td> [[${st.getProjecto}]]</td>
                <td> [[${st.coordenador}]]</td>
                <td> [[${st.dataAprovacaoCoordenador}]]</td>
            </tr>
        </th:block>
        </tbody>
    </table>

    <div class="container footer">
        <footer class="py-5">
            <div class="row">
                <div class="col-7">
                    <h5>Section</h5>
                    <ul class="nav">
                        <li class="nav-item mb-2"><a href="/paginaSegura" class="nav-link p-0 text-muted">Home</a></li>
                        <li class="nav-item mb-2"><a href="/listaProjecto" class="nav-link p-0 text-muted">Projectos</a></li>
                        <li class="nav-item mb-2"><a href="/listaParceiro" class="nav-link p-0 text-muted">Parceiros</a></li>
                        <li class="nav-item mb-2"><a href="/apoiadores" class="nav-link p-0 text-muted">Apoiadores</a></li>
                        <li class="nav-item mb-2"><a href="/sobre" class="nav-link p-0 text-muted">Sobre</a></li>
                    </ul>
                </div>

                <div class="col-4 offset-1">
                    <form>
                        <h5>Subscreva a nossa newslatter</h5>
                        <p>Mensalmente receba noticias e actualizacoes dos nosso projectos</p>
                        <div class="d-flex w-100 gap-2">
                            <label for="newsletter1" class="visually-hidden">Email address</label>
                            <input id="newsletter1" type="text" class="form-control" placeholder="Email address">
                            <button class="subscrever btn btn-primary" type="button">Subscrever</button>
                        </div>
                    </form>
                </div>
            </div>

            <div class="d-flex justify-content-between py-4 my-4 border-top">
                <p>&copy; 2021 Caritas, Inc. All rights reserved.</p>
                <ul class="list-unstyled d-flex">
                    <li class="ms-3"><a class="link-dark" href="#"><svg class="bi" width="24" height="24"><use xlink:href="#twitter"/></svg>T</a></li>
                    <li class="ms-3"><a class="link-dark" href="#"><svg class="bi" width="24" height="24"><use xlink:href="#instagram"/></svg>I</a></li>
                    <li class="ms-3"><a class="link-dark" href="#"><svg class="bi" width="24" height="24"><use xlink:href="#facebook"/></svg>F</a></li>
                </ul>
            </div>
        </footer>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
</body>
</html>